
html,
#login{
    padding-top:50px;
    /*background-color: #EFEFEF;*/
    background-color:lightseagreen;

}
.login {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom,rgba(50,50,50,0),rgba(50,50,50,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top,rgba(50,50,50,0),rgba(50,50,50,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,rgba(50,50,50,0),rgba(50,50,50,1)); /*Fx 3.6-15*/
    background: linear-gradient(to top, rgba(50,50,50,0), rgba(50,50,50,1)); /*Standard*/

    /*box-shadow: 0 8px 15px 0 rgba(0, 0, 10, 0.2), 0 6px 20px 0 rgba(0, 0, 10, 0.19);*/
    box-shadow:-10px 10px 5px grey;
    color: #b3ff1a;
    font-size: 18px;
}

body {
   margin:0;
   padding:0;
   height:100%;
}
#body-container {
   min-height:100%;
   position:relative;
}
#body-container {
   height:100%;
}
#header {
   background:#ff0;
   padding:10px;
}


#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}



/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
        /*background-color: lightslategray;*/
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      //background-color:ghostwhite;
      height: 100%;
    }



    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
          color: cyan;
      }
      .row.content {height:auto;} 
    }
    
   #footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:lightslategray;
} 

